nav {
    padding: 1rem;
    background-color: #dddddd;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    align-items: center;
}

a:hover {
    color: rgb(134, 145, 39);
}

.icon {
    height: 2rem;
}
