#quest-list {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.filters {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-evenly;
}

.quest-name {
    max-width: 10rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

td.quest-completion {
    text-align: center;
    width: 5rem;
    white-space: nowrap;
}

.complete-row {
    background-color: #8fc9a3;
}

.started-row {
    background-color: #d3d678;
}

select {
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid darkslategrey;
    color: darkslategrey;
    cursor: pointer;
    margin-left: 1rem;
}

select:focus {
    outline: none;
}


@media (min-width: 1000px) {
    #quest-list {
        padding: 0 1rem;
    }

    .filters {
        padding: 1rem;
        flex-direction: row;
    }
}