body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: darkslategrey;
    background-color: darkslategrey;
    margin: 0;
}

#root {
    background-color: darkslategrey;
    padding: 0;
}

main {
    background-color: white;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    min-height: 100vh;
}

table {
    border-collapse: collapse;
}

td {
    padding: 1rem;
    line-height: 2rem;
}

thead tr {
    background-color: darkslategrey;
    color: #dddddd;
    position: sticky;
    top: 0;
}

tbody tr {
    background-color: #dddddd;
    transition: all 0.1s ease;
    border-bottom: 1px solid white;
}

tbody tr:hover {
    background-color: darkslategrey;
    color: #dddddd
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor:pointer;  
}